/Aspergus-labels_en.properties
/Aspergus-messages_en.properties
/BeansContext.properties
/GalleryImage.hbm.xml
/LoginContextFactory.properties
/META-INF
/application.xml
/dtds
/fr
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/logging.properties
/xava-junit.properties
/xava.properties
/com
/naviox-users.properties
/naviox.properties
/Aspergus-labels_fr.properties
/Aspergus-messages_fr.properties
/Labels_en.properties
/Labels_fr.properties
/Messages_en.properties
/Messages_fr.properties
